user_uuid="f14c65e6-a326-4d0d-ba12-0845d36c657c"
bucket_name="cyzixuxjnkkjpmekexdupmhqubkeknbs"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 1